<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon/">
	<title>Activities</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start" async defer></script>
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

	<title>Login</title>
</head>
<body>

	<div class="row">
		<div class="col-md-12">
			<div class="inline text-center">
				<h1>Login</h1>
			</div>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12">
			<div class = 'flash inline text-center'>
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="alert alert-info" role="alert">
					{% for message in messages %}
					<strong> {{ message }} </strong>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
			</div>
		</div>
	</div>

<!-- GOOGLE PLUS SIGN IN-->

	<div class="row">
		<div class="col-md-12">
			<div class="inline text-center">
				<div id="signinButton">
					<span class="g-signin"
						data-scope="openid email"
						data-clientid="879384897975-dc1635p3aq73poiks8u78f7h2prv8tt6.apps.googleusercontent.com"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-cookiepolicy="single_host_origin"
						data-callback="signInCallback"
						data-approvalprompt="force">
					</span>
				</div>
				<div id="result"> </div>
			</div>
		</div>
	</div>

<script>
function signInCallback(authResult) {
	if (authResult['code']) {

		// Hide the sign-in button now that the user is authorized
		$('#signinButton').attr('style', 'display: none');

		// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
		$.ajax({
			type: 'POST',
			url: '/gconnect?state={{STATE}}',
			processData: false,
			data: authResult['code'],
			contentType: 'application/octet-stream; charset=utf-8',
			success: function(result) {

				// Handle or verify the server response if necessary.
				if (result) {
					$('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
					setTimeout(function() {
						window.location.href = "/";
					}, 4000);
				} else if (authResult['error']) {
					console.log('There was an error: ' + authResult['error']);
				} else {
					$('#result').html('Failed to make a server-side call. Check your configuration and console.');
				}
			}
		});
	}
}
</script>

<!--END GOOGLE PLUS SIGN IN -->

		</div>
	</div>

</body>
</html>